<h1>Demo dự báo thời tiết</h1>
<% const date = new Date() %> <% const time = date.getDate() +'/' +
(date.getMonth() + 1) +'/' + date.getFullYear() %>
<p>Hà Nội</p>
<p>Ngày <%= time%></p>
<p>Nhiệt độ <%= celsius%></p>
