<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/edit" method="post" enctype="multipart/form-data">
      <input
        type="number"
        name="id"
        value="<%= staff.id %>"
        style="display: none"
      />
      <input
        type="text"
        name="name"
        value="<%= staff.name %>"
        placeholder="Nhập tên"
      />
      <input
        type="number"
        name="age"
        value="<%= Number(staff.age) %>"
        placeholder="Nhập tuổi"
      />
      <input
        type="text"
        name="position"
        value="<%= staff.position %>"
        placeholder="Nhập chức danh"
      />
      <button type="submit">submit</button>
    </form>
  </body>
</html>
